.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 240px;
    box-sizing: content-box;
    cursor: grab;
    text-decoration: none;
}

.ingredientName {
    text-align: center;
}

.imageWithCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.price {
    display: flex;
    align-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:visited {
    color: inherit;
}
